{% extends 'struc_pagina.html' %}

{% block contenido %}


<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">
  <h1 style="color: rgb(102, 96, 96);">Lista Clientes</h1>
  <img src="{{ url_for('static', filename='images/clientes.PNG') }}" 
       alt="clientes" 
       style="height: 80px; width: auto;">
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Documento</th>
            <th scope="col">Tipo documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>123456</td>
            <td>Cedula de ciudadania</td>
            <td>Pedro perez</td>
            <td>10/02/1985</td>
            <td>1234567</td>
            <td>Cl 5 # 12 17</td>
            <td>Bogota</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
        </thead>

        <tbody class="table-group-divider">
            </tr>
            <th scope="row">2</th>
            <td>74185232</td>
            <td>Cedula de extranjeria</td>
            <td>Olmedo lopez soriano</td>
            <td>05/07/1990</td>
            <td>3102236236</td>
            <td>kr 60 # 23- 56 </td>
            <td>Bogota</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
        </tbody>

        <tbody class="table-group-divider">
        </tr>
        <th scope="row">3</th>
        <td>9634568</td>
        <td>Pasaporte</td>
        <td>Dios Dado Cabello</td>
        <td>16/03/1960</td>
        <td>3209631234</td>
        <td>Cl 12 # 63-51 </td>
        <td>Medellin</td>
        <td>
          <button class="btn btn-warning btn-sm">Editar</button>
          <button class="btn btn-danger btn-sm">Borrar</button>
        </td>
      </tr>
    </tbody>

    <tbody class="table-group-divider">
    </tr>
    <th scope="row">2</th>
    <td>1035632988</td>
    <td>Tarjeta de identidad</td>
    <td>Juan Sebastian Zapatero</td>
    <td>31/07/1981</td>
    <td>3057946132</td>
    <td>kr 100 # 03 - 70 </td>
    <td>Bogota</td>
    <td>
      <button class="btn btn-warning btn-sm">Editar</button>
      <button class="btn btn-danger btn-sm">Borrar</button>
    </td>
  </tr>
</tbody>
</table>

<div class="col-md-4 offset-md-4 d-grid gap-2 mt-4">
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">
    Salir
</button>
</div>
{% endblock contenido %}
