<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
    <title>App facturacion_Harvey Romero</title>

</head>
<body>

    <h1 style="color: rgb(19, 79, 134);">CompaFact3000</h1>
    <h1 style="color: rgb(21, 83, 47);">Lista Facturas</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">INICIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  USUARIOS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Login_usuario.html">Loguear usuario</a></li>
                  <li><hr class="dropdown-divider"></li> 
                  <li><a class="dropdown-item" href="Registro_usuarios.html">Registro Usuarios</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="Lista_usuarios.html">Listar Usuarios</a></li>
              </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PRODUCTOS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Formulario_Producto.html">Nuevo producto</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="Lista_productos.html">Listar productos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  CLIENTES
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Clientes.html">Nuevos clientes</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="Lista_clientes.html">Listar clientes</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  FACTURACION
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Nueva_factura.html">Nueva factura</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="Lista_facturas.html">Consultar factura</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha alta</th>
            <th scope="col">Valor</th>
            <th scope="col">Cliente</th>
            <th scope="col">Documento Cliente</th>

            <th scope="col">Producto</th>
            <th scope="col">cantidad</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Celular</th>
            <th scope="col">Usuario</th>
            <th scope="col">Clave</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Cedula de ciudadania</td>
            <td>12300456</td>
            <td>Lorenzo Karman Lopez</td>
            <td>01/02/2025</td>
            <td>07/01/1966</td>
            <td>Cl 10 # 21 77</td>
            <td>Bogota</td>
            <td>3187946258</td>
            <td>elamigo10</td>
            <td>elpatroncito20</td>
            <td>Administrador</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">2</th>
            <td>Cedula de ciudadania</td>
            <td>1032654985</td>
            <td>Andrea Yulima Rodriguez</td>
            <td>03/15/2025</td>
            <td>03/18/1993</td>
            <td>Kr 120 # 11 11</td>
            <td>Bogota</td>
            <td>3057319852</td>
            <td>lavende01</td>
            <td>lamejorvnd-12</td>
            <td>Vendedor</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">2</th>
            <td>Cedula de extranjeria</td>
            <td>85964712</td>
            <td>Josele Martin Calamardin</td>
            <td>03/20/2025</td>
            <td>11/20/1997</td>
            <td>cl 12 sur # 15 -45</td>
            <td>Bogota</td>
            <td>3119461253</td>
            <td>elvende02</td>
            <td>elven_jose12</td>
            <td>Vendedor</td>
            <td>
              <button class="btn btn-warning btn-sm">Editar</button>
              <button class="btn btn-danger btn-sm">Borrar</button>
            </td>
          </tr>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">2</th>
              <td>Pasaporte</td>
              <td>7149368</td>
              <td>Jose Vela Goyes</td>
              <td>02/12/2025</td>
              <td>01/02/2000</td>
              <td>cl 52  # 85-21</td>
              <td>Soacha</td>
              <td>3029719735</td>
              <td>Joselulu_10</td>
              <td>elmerojose_96</td>
              <td>Bodega</td>
              <td>
                <button class="btn btn-warning btn-sm">Editar</button>
                <button class="btn btn-danger btn-sm">Borrar</button>
              </td>
            </tr>


</tbody>

      </table>

      <h1 style="font-style: italic; font-size: 1.5rem; text-align: center;">
        Elaborado por Harvey Romero
      </h1>
    
</body>
</html>