{% extends 'struc_pagina.html' %}

{% block contenido %}

<h1 style="color: rgb(21, 83, 47);">Lista Facturas</h1>
 <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha factura</th>
            <th scope="col">Usuario</th>
            <th scope="col">Tipo Documento Cliente</th>
            <th scope="col">Documento Cliente</th>
            <th scope="col">Nombre cliente</th>
            <th scope="col">Productos</th>
            <th scope="col">Total</th>
            <th scope="col">Tipo de Pago</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
 {% for f in facturas %}
    <tr>
      <td>{{ f.id }}</td>
      <td>{{ f.fecha }}</td>
      <td>{{ f.usuario }}</td>
      <td>{{ f.documento_tipo }}</td>
      <td>{{ f.documento_numero }}</td>
      <td>{{ f.nombre_cliente }}</td>
      <td>
        <ul>
          {% for p in f.productos %}
            <li>{{ p }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>${{ f.total }}</td>
      <td>{{ f.pago }}</td>
      <td>
        <a href="{{ url_for('detalle_factura', id_factura=f.id) }}" class="btn btn-sm btn-primary">Ver detalles</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}


