{% extends 'struc_pagina.html' %}
    
{% block contenido %}



<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 style="color: rgb(102, 96, 96);">Registro de Usuarios</h1>
  <img src="{{ url_for('static', filename='images/Nuevo_usuario.PNG') }}" 
       alt="nuevosUsu" 
       style="height: 80px; width: auto;">
</div>

<div class="container mt-5">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Datos del usuario</h4>
        </div>
    
        <div class="card-body">
          <form class="row g-3">

        <div class="col-md-3">
          <label for="fecha_alta" class="form-label">Fecha de alta</label>
          <input type="date" class="form-control" id="fecha_alta" placeholder="dd/mm/yyyy">
        </div>

        <div class="col-md-2">
            <label for="documento_us" class="form-label">Tipo de documento</label>
            <select id="documento_us" class="form-select">
              <option selected></option>
              <option>Cedula de ciudadania</option>
              <option>Cedula de extranjeria</option>
              <option>Pasaporte</option>
            </select>
          </div>

        <div class="col-md-3">
          <label for="documento_us" class="form-label">Documento</label>
          <input type="number" class="form-control" id="documento_us" placeholder="123456" step="1" min="0">
        </div>

        <div class="col-md-3">
            <label for="fecha_nacimiento_us" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fecha_nacimiento_us" placeholder="dd/mm/yyyy">
          </div>

          <div class="col-md-5">
            <label for="correo_us" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="correo_us" placeholder="ejemplo@correo.com" required>
          </div>

        <div class="col-md-3">
            <label for="numero_celular_us" class="form-label">No. Celular</label>
            <input type="number" class="form-control" id="numero_celular_us" placeholder="123456" step="1" min="0">
        </div>

        <div class="col-7">
            <label for="direccion_us" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="direccion_us" >
        </div>

        <div class="col-3">
            <label for="ciudad_us" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="ciudad_us" >
        </div>

        <div class="col-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="usuario" >
      </div>

      <div class="col-3">
        <label for="Clave" class="form-label">Clave</label>
        <input type="password" class="form-control" id="Clave">
      </div>

    <div class="col-md-2">
      <label for="rol_us" class="form-label">Rol</label>
      <select id="rol_us" class="form-select">
        <option selected></option>
        <option>Administrador</option>
        <option>Vendedor</option>
        <option>Bodega</option>
      </select>
    </div>


    <div class="col-md-4 offset-md-4 d-grid gap-2 mt-4">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-warning" onclick="document.querySelector('form').reset();">Borrar</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='index.html'">Salir</button>
    </div>

  </form>
</div>
</div>
</div>
{% endblock contenido %}
